@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
  font-family: "Roboto", "Arial", sans-serif;
  color: #FFF8ED;
}

html {
  background:
    linear-gradient(
      rgba(0, 69, 73, 0.90),
      rgba(0, 69, 73, 0.90)
    ),
    url(/assets/images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body {
  line-height: 1.5;
  padding: 1em 1em;
}

h2 {
  margin-top: 5px;
  padding-top: 5px;
}

code,
pre {
  background: #000000;
  border-bottom: 0;
  color: #ff783a;
}

pre {
  border-left: 2px solid #69c;
}

a {
  color: #babf7a;
  text-decoration: none;
}

a:visited {
  color: #babf7a;
}


.go-home a {
  color: #FFF8ED;
}

.main {
  left: 0;
  right: 0;
  padding: 0 25%;
}

.floating-menu {
  z-index: 100;
  position: fixed;
  top: 9em;
  left: 5em;
  text-align: right;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track {
  background: #5a7878;
  border: 0px solid #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.post-date-and-category {
  padding-top: 15px;
  color: #a6a6a6;
}

.post-date-and-category > a {
  color: #a6a6a6;
}

@media only screen and (max-width: 1023px) {
  .floating-menu {
    display: none;
  }

}